openai # For LLM AI to interact
python-dotenv # For .env to load

# langchain framework for Openai
langchain 
langchain-core
langchian-community
langchain-openai

pydantic # For PrivateAttr

# RAG database setup
chroma # vector database
sentence-transformers # Embedding for semantic search


# https://huggingface.co/sentence-transformers/all-MiniLM-L6-v2